* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f2027;
    color: white;
}

.container {
    min-height: 100vh;
    max-width: 480px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center
}

label {
    display: block;
    margin-top: 15px
}

input,
button {
    width: 100%;
    padding: 14px;
    margin-top: 8px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

button {
    background: #0d6efd;
    color: white
}

#game {
    display: none
}

#timer {
    text-align: center;
    font-size: 24px;
    color: #00ffcc
}

#result {
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    text-align: center
}

.spy {
    background: #ff0033
}

.normal {
    background: #198754
}

#nextBtn,
#restartBtn {
    display: none
}

#voting button {
    background: #ffc107;
    color: black;
    margin-top: 6px;
}
