* {
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    margin: 0;
    background: linear-gradient(135deg, #111, #222);
    color: white;
    min-height: 100vh;
}

#setup,
#game {
    max-width: 420px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

#game {
    display: none;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 12px;
    text-align: right;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    margin-top: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 14px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:disabled {
    opacity: 0.6;
}

#showBtn {
    background: #0d6efd;
    color: white;
}

#nextBtn {
    background: #6c757d;
    display: none;
}

#restartBtn {
    display: none;
    background: #198754;
}

#backToSetupBtn {
    display: none;
    background: #444;
}

#timer {
    font-size: 20px;
    margin-bottom: 10px;
}

#result {
    margin-top: 15px;
    padding: 15px;
    border-radius: 16px;
    font-size: 18px;
}

.spy {
    background: #dc3545;
}

.normal {
    background: #198754;
}

#voting button {
    background: #ffc107;
    color: black;
}

#finalResult {
    margin-top: 15px;
    padding: 15px;
    border-radius: 16px;
}
